@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: 'Bai Jamjuree', sans-serif;
  }
}
@layer components {
  .to-r {
    @apply bg-gradient-to-r;
  }
}
.badge-purple {
  background: linear-gradient(132.4deg, #5625ca 3.98%, #3f8de5 95.83%);
}
.bg-linear-gray {
  background: linear-gradient(
    89.55deg,
    rgba(255, 255, 255, 0.5) -70.19%,
    rgba(194, 194, 194, 0.125) 170.75%
  );
}
.green-progress {
  background: linear-gradient(90deg, #85ff83 0%, rgba(133, 255, 131, 0.1) 100%);
  border-radius: 4px 0px 0px 4px;
  height: 8px;
}
.red-progress {
  background: linear-gradient(270deg, #dd3131 0%, rgba(221, 49, 49, 0.1) 100%);
  border-radius: 4px 0px 0px 4px;
  height: 8px;
}
.gray-bg {
  background: rgba(255, 255, 255, 0.05);
}
.color-gray {
  color: rgba(255, 255, 255, 0.5);
}
.height-max {
  height: calc(100vh -86px -44px);
}
.header {
  background: linear-gradient(
    180deg,
    rgba(27, 27, 39, 0.6) 0%,
    rgba(2, 2, 7, 0.6) 100%
  );
  box-shadow: 0px 4px 30px #000005;
  backdrop-filter: blur(50px);
  border-color: rgb(128, 128, 128, 0.2);
}
tbody.left-body > tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.01);
}
.no-data {
  opacity: 0.3;
}
.green-badge {
  background: linear-gradient(270deg, #85ff83 0%, #44c146 100%);
  backdrop-filter: blur(30px);
  border-radius: 24px;
}
.input-rounded {
  border-radius: 45px;
  border-color: linear-gradient(90deg, #5625ca 100%, #3f8de5 100%);
  background-color: rgba(0, 0, 5, 0.2);
  height: 48px;
}
.progress {
  background: linear-gradient(90deg, rgba(133, 255, 131, 0) 0%, #85ff83 100%);
  border-radius: 7px;
}
.gray-border {
  border-color: rgb(255, 255, 255, 0.1);
}
.slide {
  animation: slideInUp;
  animation-duration: 1s;
}
